In [1]:
import pandas as pd

# Load the player statistics dataset
df = pd.read_csv("data/raw/player_stats_2022-23.csv")

# Display the first 5 rows
df.head()

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,1628369,1,Jayson Tatum,1610612738,BOS,74,2732,727,1559,0.466,...,649,342,78,51,213,160,2225,2209,1.61,0.37
1,203954,2,Joel Embiid,1610612755,PHI,66,2284,728,1328,0.548,...,670,274,66,112,226,205,2183,2369,1.21,0.29
2,1629029,3,Luka Dončić,1610612742,DAL,66,2391,719,1449,0.496,...,569,529,90,33,236,166,2138,2214,2.24,0.38
3,1628983,4,Shai Gilgeous-Alexander,1610612760,OKC,68,2416,704,1381,0.510,...,329,371,112,65,192,192,2135,2073,1.93,0.58
4,203507,5,Giannis Antetokounmpo,1610612749,MIL,63,2024,707,1278,0.553,...,742,359,52,51,246,197,1959,2072,1.46,0.21

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539 entries, 0 to 538
Data columns (total 28 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PLAYER_ID  539 non-null    int64
 1   RANK       539 non-null    int64
 2   PLAYER     539 non-null    object
 3   TEAM_ID    539 non-null    int64
 4   TEAM       539 non-null    object
 5   GP         539 non-null    int64
 6   MIN        539 non-null    int64
 7   FGM        539 non-null    int64
 8   FGA        539 non-null    int64
 9   FG_PCT     539 non-null    float64
 10  FG3M       539 non-null    int64
 11  FG3A       539 non-null    int64
 12  FG3_PCT    539 non-null    float64
 13  FTM        539 non-null    int64
 14  FTA        539 non-null    int64
 15  FT_PCT     539 non-null    float64
 16  OREB       539 non-null    int64
 17  DREB       539 non-null    int64
 18  REB        539 non-null    int64
 19  AST        539 non-null    int64
 20  STL        539 non-null    int64
 21  BLK        539 non-null    int64
 22  TOV        539 non-null    int64
 23  PF         539 non-null    int64
 24  PTS        539 non-null    int64
 25  EFF        539 non-null    int64
 26  AST_TOV    539 non-null    float64
 27  STL_TOV    539 non-null    float64
dtypes: float64(5), int64(21), object(2)
memory usage: 118.0+ KB

In [3]:
df.isnull().sum()

PLAYER_ID    0
RANK         0
PLAYER       0
TEAM_ID      0
TEAM         0
GP           0
MIN          0
FGM          0
FGA          0
FG_PCT       0
FG3M         0
FG3A         0
FG3_PCT      0
FTM          0
FTA          0
FT_PCT       0
OREB         0
DREB         0
REB          0
AST          0
STL          0
BLK          0
TOV          0
PF           0
PTS          0
EFF          0
AST_TOV      0
STL_TOV      0
dtype: int64

In [4]:
df.columns

Index(['PLAYER_ID', 'RANK', 'PLAYER', 'TEAM_ID', 'TEAM', 'GP', 'MIN', 'FGM',
       'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
       'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'EFF',
       'AST_TOV', 'STL_TOV'],
      dtype='object')

In [5]:
df.duplicated().sum()

np.int64(0)

In [6]:
df.to_csv("data/raw/verified_player_stats_2022-23.csv", index=False)

In [7]:
# Load MVP winners data
mvp_df = pd.read_csv("data/raw/mvp_winners.csv")

# Show the first few rows
mvp_df.head()

  Year                 Player Team
0  NBA          Nikola JokiÄ  (V)
1  NBA            Joel Embiid  (V)
2  NBA          Nikola JokiÄ  (V)
3  NBA          Nikola JokiÄ  (V)
4  NBA  Giannis Antetokounmpo  (V)

In [8]:
# Convert player names to uppercase and remove extra spaces
mvp_df["Player"] = mvp_df["Player"].str.upper().str.strip()
df["PLAYER"] = df["PLAYER"].str.upper().str.strip()

In [9]:
# Merge player stats with MVP data based on player name
merged_df = df.merge(mvp_df, left_on="PLAYER", right_on="Player", how="left")

# Create MVP Label: If player is in MVP list, set MVP = 1, else 0
merged_df["MVP"] = merged_df["Year"].notna().astype(int)

# Drop unnecessary columns
merged_df.drop(columns=["Year", "Player", "Team"], inplace=True)

# Show the first few rows
merged_df.head()

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV,MVP
0,1628369,1,JAYSON TATUM,1610612738,BOS,74,2732,727,1559,0.466,...,342,78,51,213,160,2225,2209,1.61,0.37,0
1,203954,2,JOEL EMBIID,1610612755,PHI,66,2284,728,1328,0.548,...,274,66,112,226,205,2183,2369,1.21,0.29,1
2,1629029,3,LUKA DONČIĆ,1610612742,DAL,66,2391,719,1449,0.496,...,529,90,33,236,166,2138,2214,2.24,0.38,0
3,1628983,4,SHAI GILGEOUS-ALEXANDER,1610612760,OKC,68,2416,704,1381,0.510,...,371,112,65,192,192,2135,2073,1.93,0.58,0
4,203507,5,GIANNIS ANTETOKOUNMPO,1610612749,MIL,63,2024,707,1278,0.553,...,359,52,51,246,197,1959,2072,1.46,0.21,1

In [10]:
merged_df.to_csv("data/processed/cleaned_data.csv", index=False)

print("✅ Processed data saved to data/processed/cleaned_data.csv")

✅ Processed data saved to data/processed/cleaned_data.csv